[submodule "src/starkit_msgs"]
	path = src/starkit_msgs
	url = https://github.com/skorobogatov-mipt/starkit_msgs 
[submodule "src/manip_controller/manip_controller/robot_descriptions"]
	path = src/manip_controller/manip_controller/robot_descriptions
	url = https://github.com/skorobogatov-mipt/wb_olymp_mjcf 
